@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin button-reset {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

@mixin wrapper-exit {
  padding: 0;
  max-width: none;
}

@mixin pseudo-close-btn {
  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    height: 2px;
    margin: auto;
    background-color: $deep-dark;
    content: "";
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}
