$font-family-main: "Poppins", "Arial", sans-serif;
$font-family-additional: "Cormorant Garamond", "Times New Roman", serif;

$gray: #9b9997;
$aside-gray: #9b9997;
$brown: #a87b62;
$black: #000000;
$deep-dark: #1d1613;
$white: #ffffff;
$rare-white: #f6f5f4;
$warm-white: #f0eae4;

$tablet-width-max: 1023px;
$mobile-width-max: 767px;
