.banner {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 180px;
  padding-bottom: 183px;
  line-height: 1.3;
  font-family: $font-family-additional;
  color: $white;
  background-color: $brown;
  background-image: url("../img/headline-bg-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  h2 {
    margin: 0;
    font-size: 45px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  h3 {
    margin: 0;
    margin-top: -8px;
    font-style: italic;
    font-weight: 400;
    font-size: 38px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/headline-bg-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width-max) {
    padding-top: 183px;
    padding-bottom: 182px;
    background-image: url("../img/headline-bg-tablet@1x.jpg");
    box-shadow: none;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/headline-bg-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width-max) {
    padding: 189px 0;
    background-image: url("../img/headline-bg-mobile@1x.jpg");

    h2 {
      font-size: 38px;
    }

    h3 {
      font-size: 34px;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/headline-bg-mobile@2x.jpg");
    }
  }

  &--inner {
    padding-top: 91px;
    padding-bottom: 94px;
    background-image: url("../img/catalog-headline-bg@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog-headline-bg@2x.jpg");
    }

    @media (max-width: $tablet-width-max) {
      padding-top: 92px;
      padding-bottom: 96px;
      background-image: url("../img/catalog-headline-bg-tablet@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog-headline-bg-tablet@2x.jpg");
      }
    }

    @media (max-width: $mobile-width-max) {
      padding-top: 78px;
      padding-bottom: 82px;
      background-image: url("../img/catalog-headline-bg-mobile@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog-headline-bg-mobile@2x.jpg");
      }
    }

    h2 {
      font-size: 34px;
    }

    h3 {
      margin-top: 0;
      font-weight: 500;
      font-size: 22px;
    }
  }
}

.banner__inner {
  text-align: center;

  @media (max-width: $tablet-width-max) {
    margin-left: -10px;
  }

  @media (max-width: $mobile-width-max) {
    margin-left: 0;
  }
}
