.blog {
  padding-bottom: 65px;
  text-align: center;
}

.blog__list {
  @include list-reset;
  display: grid;
  grid-template-columns: 48.717% 48.717%;
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;
  row-gap: 30px;
}

.blog__item {
  position: relative;
  display: flex;

  &::after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
  }

  &:nth-child(2n + 1) {
    justify-content: flex-end;

    &::after {
      right: auto;
      left: 0;
    }
  }

  &--care {
    &::after {
      background-image: url("../img/blog-care@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/blog-care@2x.jpg");
      }
    }
  }

  &--power {
    grid-row: 2;

    &::after {
      background-image: url("../img/blog-power@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/blog-power@2x.jpg");
      }
    }
  }

  &--trends {
    grid-column: 2;
    grid-row: 1/-1;
    flex-direction: column;

    &::after {
      width: 100%;
      background-image: url("../img/blog-trends@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/blog-trends@2x.jpg");
      }
    }

    .blog__article {
      flex-basis: 40%;
      flex-grow: 1;
      align-self: flex-end;
      margin-top: 30px;
    }

    &::before {
      flex-basis: 40%;
      flex-grow: 1;
      content: "";
    }
  }
}

.blog__article {
  box-sizing: border-box;
  width: 50%;
  padding: 71px 61px;
  line-height: 1.3;
  background-color: $warm-white;

  time {
    font-size: 14px;
    color: $aside-gray;
  }

  h3 {
    margin-top: 11px;
    margin-bottom: 34px;
    font-size: 26px;
  }

  @media (min-width: $desktop-width-min) and (max-width: $template-width - 1) {
    padding: 5.197vw 4.465vw;

    time {
      font-size: 1.0248vw;
    }

    h3 {
      margin-top: 0.802vw;
      margin-bottom: 2.489vw;
      font-size: 1.9vw;
    }
  }
}

.blog__article-link {
  margin: 0;
  color: rgba($deep-dark, 0.6);
}
