.button {
  @include button-reset;
  box-sizing: border-box;
  padding: 23px;
  text-align: center;
  background-color: $white;
  border: 1px solid $brown;

  &--colorized {
    color: $white;
    background-color: $brown;
  }

  &:hover,
  &:focus {
    color: $white;
    background-color: $brown;
    opacity: 0.85;
  }
}
