.faq {
  padding-top: 55px;
  padding-bottom: 54px;

  @media (max-width: $tablet-width-max) {
    padding-top: 5px;
    padding-bottom: 40px;
  }

  h2 {
    margin-bottom: 50px;
    text-align: center;
  }
}

.faq__list {
  @include list-reset;
  width: 85.905%;
  margin: 0 auto;
  border: 1px solid $brown;

  @media (max-width: $tablet-width-max) {
    width: 100%;
  }
}

.faq__item {
  &:not(:last-child) {
    border-bottom: 1px solid $brown;
  }

  h3 {
    position: relative;
    padding: 42px;
    padding-right: 110px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23.4px;
    font-family: $font-family-main;

    @media (max-width: $tablet-width-max) {
      padding: 45px 120px 45px 50px;
    }

    @media (max-width: $mobile-width-max) {
      padding: 18px 58px 18px 25px;
      font-size: 16px;
      line-height: 22.4px;
    }

    &::after {
      position: absolute;
      top: 46px;
      right: 57px;
      width: 10px;
      height: 10px;
      border: 1px solid $brown;
      border-top: none;
      border-left: none;
      transform: rotate(45deg);
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-in;
      content: "";

      @media (max-width: $tablet-width-max) {
        width: 15px;
        height: 15px;
      }

      @media (max-width: $mobile-width-max) {
        top: 20px;
        right: 25px;
        width: 12px;
        height: 12px;
      }
    }
  }

  p {
    margin: 0;
    padding: 5px 50px 39px;
    font-weight: 400;

    @media (max-width: $tablet-width-max) {
      padding: 15px 50px 33px;
    }

    @media (max-width: $mobile-width-max) {
      padding: 2px 61px 7px 25px;
      font-size: 14px;
      line-height: 19.6px;
    }
  }
}

.faq__item.accordion--opened {
  h3 {
    padding-bottom: 0;

    &::after {
      transform: translateY(2px) rotate(-135deg);

      @media (max-width: $mobile-width-max) {
        transform: translateY(7px) rotate(-135deg);
      }
    }
  }
}
