.faq {
  padding-top: 55px;
  padding-bottom: 54px;

  @media (max-width: $tablet-width-max) {
    padding-top: 5px;
    padding-bottom: 21px;
  }

  h2 {
    margin-bottom: 50px;
    text-align: center;

    @media (max-width: $tablet-width-max) {
      margin-bottom: 48px;
    }

    @media (max-width: $mobile-width-max) {
      margin-bottom: 28px;
    }
  }
}

.faq__list {
  @include list-reset;
  width: 82.905%;
  margin: 0 auto;
  border: 1px solid $brown;

  @media (max-width: $tablet-width-max) {
    width: 100%;
  }
}

.faq__item {
  position: relative;

  &:not(:last-child) {
    border-bottom: 1px solid $brown;
  }

  h3 {
    position: relative;
    padding: 44px 110px 46px 42px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23.4px;
    font-family: $font-family-main;

    @media (max-width: $tablet-width-max) {
      padding: 43px 120px 45px 50px;
    }

    @media (max-width: $mobile-width-max) {
      padding: 18px 58px 18px 25px;
      font-size: 16px;
      line-height: 22.4px;
    }

    &::after {
      top: 46px;
      right: 52px;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-in;

      @media (max-width: $tablet-width-max) {
        top: 44px;
        right: 55px;
      }

      @media (max-width: $mobile-width-max) {
        top: 20px;
        right: 29px;
      }
    }
  }

  p {
    margin: 0;
    padding: 8px 400px 39px 50px;
    font-weight: 400;

    @media (max-width: $tablet-width-max) {
      padding: 25px 101px 46px 50px;
    }

    @media (max-width: $mobile-width-max) {
      padding: 15px 61px 22px 25px;
      font-size: 14px;
      line-height: 19.6px;
    }
  }
}

.faq__item.accordion--opened {
  h3 {
    padding-bottom: 0;
  }

  .faq__item-answer {
    position: static;
    transform: translateY(0);
    opacity: 1;
  }
}

.faq__item-answer {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  transition-property: transform opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transform: translateY(-20px);
  opacity: 0;
}
