.filter {
  width: 21.282%;
  min-width: 220px;
  margin-right: 4.273%;

  @media (max-width: $tablet-width-max) {
    width: 100%;

    &--opened {
      .filter__overlay {
        z-index: 0;
        opacity: 1;
      }

      .filter__modal {
        transform: translateX(-20px);
        overflow-y: scroll;
      }

      .filter__close {
        display: inline-block;
      }
    }

    &--nojs {
      .filter__wrapper {
        position: static;
        transform: none;
      }
    }
  }

  @media (max-width: $mobile-width-max) {
    &--opened {
      .filter__modal {
        transform: translateX(0);
      }
    }
  }
}

.filter__open {
  display: none;
  width: 100%;

  @media (max-width: $tablet-width-max) {
    display: inline-block;
  }
}

.filter__overlay {
  @media (max-width: $tablet-width-max) {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $white;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.7s;
    transition-timing-function: ease-in;
  }
}

.filter__modal {
  @media (max-width: $tablet-width-max) {
    position: fixed;
    top: 0;
    left: 0;
    width: 480px;
    height: 100vh;
    transform: translateX(-480px);
    transition-property: transform;
    transition-duration: 0.7s;
    transition-timing-function: ease-in;

    @media (max-width: $mobile-width-max) {
      width: 330px;
      padding: 0 25px;
    }
  }
}

.filter__wrapper {
  padding-bottom: 40px;

  @media (max-width: $tablet-width-max) {
    position: relative;
    width: 442px;
    margin-top: 27px;
    margin-bottom: 89px;
    background-color: $white;
    box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24);
  }

  @media (max-width: $mobile-width-max) {
    width: 270px;
    margin-top: 76px;
    margin-bottom: 60px;
    padding-bottom: 30px;
  }
}

.filter__form {
  button[type="submit"],
  button[type="reset"] {
    width: 100%;

    @media (max-width: $tablet-width-max) {
      display: block;
      width: 362px;
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: $mobile-width-max) {
      width: 230px;
    }
  }

  button[type="submit"] {
    margin-top: 35px;
    margin-bottom: 25px;

    @media (max-width: $tablet-width-max) {
      margin-top: 40px;
    }
  }
}

.filter__form-wrapper {
  border: 1px solid $brown;

  @media (max-width: $tablet-width-max) {
    border: none;
    border-bottom: 1px solid $brown;
  }
}

.filter__form-group {
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid $brown;

  &--price {
    border: none;
  }

  legend,
  h3 {
    box-sizing: border-box;
    width: 100%;
    padding: 32px 60px 32px 25px;
    font: inherit;

    @media (max-width: $tablet-width-max) {
      padding-left: 40px;
      font-size: 18px;
      line-height: 23.4px;
    }

    @media (max-width: $mobile-width-max) {
      padding: 24px 60px 24px 20px;
    }

    &::after {
      top: 33px;
      right: 25px;

      @media (max-width: $tablet-width-max) {
        right: 40px;
      }

      @media (max-width: $mobile-width-max) {
        top: 24px;
        right: 20px;
      }
    }
  }
}

.filter__options-list {
  @include list-reset;
  display: none;
  padding-left: 35px;
  padding-bottom: 30px;

  @media (max-width: $tablet-width-max) {
    padding-left: 50px;
  }

  @media (max-width: $mobile-width-max) {
    padding-left: 30px;
  }
}

.filter__option {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  label {
    padding-left: 27px;

    &::before {
      position: absolute;
      top: 2px;
      left: 0;
      width: 15px;
      height: 14px;
      border: 1px solid $brown;
      content: "";
    }
  }
}

input[type="checkbox"]:checked + label::before {
  width: 14px;
  background-color: $brown;
}

.filter__form-group-inner {
  display: none;
}

.filter__form-group.accordion--opened {
  .filter__options-list,
  .filter__form-group-inner {
    display: block;
  }
}

.filter__close {
  @include button-reset;
  @include pseudo-close-btn;
  display: none;
  position: absolute;
  top: -16px;
  right: -16px;
  width: 32px;
  height: 32px;
  background-color: $deep-dark;
  border-radius: 50%;

  &::before,
  &::after {
    background-color: $white;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}
