.follow {
  padding-top: 54px;
  padding-bottom: 130px;
  text-align: center;
}

.follow__inner {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-width-max) {
    display: block;
  }
}

.follow__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  max-height: 30.307vw;

  @media (max-width: $tablet-width-max) {
    max-height: 33.25vw;
  }

  @media (max-width: $mobile-width-max) {
    max-height: 106.25vw;
  }

  &--left {
    width: 48.243vw;

    @media (max-width: $tablet-width-max) {
      width: 49.479vw;
    }

    @media (max-width: $mobile-width-max) {
      width: auto;
    }
  }

  &--right {
    width: 35.139vw;

    @media (max-width: $tablet-width-max) {
      width: 36.197vw;
    }

    @media (max-width: $mobile-width-max) {
      flex-direction: row;
      justify-content: space-between;
      width: auto;
    }
  }
}

.follow__item {
  img {
    width: 100%;
  }

  &--1,
  &--2 {
    width: 16.837vw;

    @media (max-width: $tablet-width-max) {
      width: 17.317vw;
    }

    @media (max-width: $mobile-width-max) {
      margin-bottom: 4.687vw;
      margin-right: 4.687vw;
    }
  }

  &--2 {
    margin-top: 2.196vw;
    margin-right: 2.196vw;

    @media (max-width: $tablet-width-max) {
      margin-top: 2.343vw;
      margin-right: 2.343vw;
    }

    @media (max-width: $mobile-width-max) {
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 2.812vw;
    }
  }

  &--3 {
    width: 29.282vw;

    @media (max-width: $tablet-width-max) {
      width: 30.078vw;
    }

    @media (max-width: $mobile-width-max) {
      height: 70.625vw;

      img {
        height: 100%;
      }
    }
  }

  &--4,
  &--7 {
    width: 16.983vw;

    @media (max-width: $tablet-width-max) {
      width: 17.447vw;
    }
  }

  &--5,
  &--6 {
    width: 15.959vw;

    @media (max-width: $tablet-width-max) {
      width: 16.406vw;
    }
  }

  &--4,
  &--5 {
    margin-right: 2.196vw;

    @media (max-width: $tablet-width-max) {
      margin-right: 2.343vw;
    }

    @media (max-width: $mobile-width-max) {
      margin-right: 0;
    }
  }

  &--5,
  &--7 {
    margin-top: 2.196vw;

    @media (max-width: $tablet-width-max) {
      margin-top: 2.343vw;
    }
  }

  &--7 {
    margin-left: -1.098vw;

    @media (max-width: $tablet-width-max) {
      margin-left: -1.0416vw;
    }
  }

  &--1,
  &--2,
  &--5 {
    @media (max-width: $mobile-width-max) {
      width: 40.625vw;
    }
  }

  &--6,
  &--7 {
    @media (max-width: $mobile-width-max) {
      display: none;
    }
  }

  &--3,
  &--4 {
    @media (max-width: $mobile-width-max) {
      width: 45.312vw;
    }
  }

  &--5 {
    @media (max-width: $mobile-width-max) {
      order: -1;
    }
  }
}
