.main-nav {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  max-width: 747px;
  margin-bottom: -10px;

  @media (max-width: $tablet-width-max) {
    flex-direction: column;
  }
}

.main-nav__item {
  &:not(:last-child) {
    margin-right: 35px;
  }

  margin-bottom: 10px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 0;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &:last-child {
      margin-top: 57px;
    }
  }

  @media (max-width: $mobile-width-max) {
    &:last-child {
      margin-top: 0;
    }
  }
}

.main-nav__link {
  line-height: 24px;

  @media (max-width: $tablet-width-max) {
    font-size: 24px;
    line-height: 36px;
  }
}
