.modal {
  display: none;

  &--opened {
    display: block;

    .modal__overlay {
      animation: appearence 0.4s ease-in-out;
    }

    .modal__inner {
      animation: drop 0.4s ease-in-out;
    }
  }
}

.modal__inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  margin: auto;
  background-color: $white;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
}

.modal__close {
  @include button-reset;
  @include pseudo-close-btn;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;

  @media (max-width: $tablet-width-max) {
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
  }

  @media (max-width: $mobile-width-max) {
    top: 8px;
    right: 8px;
    width: 28px;
    height: 28px;
  }
}

@keyframes appearence {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes drop {
  0% {
    transform: translateY(-1000px);
  }

  100% {
    transform: translateY(0);
  }
}
