.slider {
  position: relative;
}

.slider__wrapper {
  overflow: hidden;
}

.slider__list {
  @include list-reset;
  display: flex;
  transition-property: transform;
  transition-duration: 0.8s;
  transition-timing-function: ease;
}

.slider__item {
  flex-shrink: 0;
}

.slider__pagination {
  @include list-reset;
  display: flex;
  justify-content: center;
}

.slider__page {
  margin-right: 15px;
  color: $aside-gray;

  &--current {
    color: $deep-dark;
  }
}
