.some-products {
  padding-top: 121px;
  padding-bottom: 116px;
  text-align: center;

  @media (max-width: $tablet-width-max) {
    padding-top: 70px;
    padding-bottom: 64px;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 60px;
    padding-bottom: 53px;
  }
}

.some-products__item {
  width: 23.076%;
  margin-right: 2.564%;

  @media (max-width: $tablet-width-max) {
    width: 47.787%;
    margin-right: 4.424%;
  }

  @media (max-width: $mobile-width-max) {
    width: 44.827%;
    margin-right: 10.344%;
  }
}

.some-products__pagination {
  margin-top: 50px;

  @media (max-width: $tablet-width-max) {
    margin-top: 40px;
  }

  @media (max-width: $mobile-width-max) {
    display: none;
  }
}

.some-products__pagination-short {
  margin-top: 35px;

  @media (min-width: $tablet-width-min) {
    display: none;
  }

  span {
    padding: 0 5px;
  }
}

.some-products__page {
  @media (min-width: $desktop-width-min) {
    &:not(:nth-child(-n + 3)) {
      display: none;
    }
  }
}

.some-products__button {
  @include button-reset;
  position: absolute;
  top: -108px;
  left: 6.174vw;

  &--next {
    left: auto;
    right: 7.174vw;
  }

  &:disabled {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width-max) {
    top: -97px;

    &--prev {
      left: 5.859vw;
    }

    &--next {
      right: 5.859vw;
    }

    svg {
      width: 36px;
      height: 15px;
    }
  }

  @media (max-width: $mobile-width-max) {
    display: none;
  }
}
