.wrapper {
  box-sizing: border-box;
  padding: 0 7.174vw;

  @media (max-width: $tablet-width-max) {
    padding: 0 5.859vw;
  }

  @media (max-width: $mobile-width-max) {
    padding: 0 4.687vw;
  }
}
